:root {
    --font-family: 'Comic Sans MS', 'sans-serif', Arial;
}

* {
    font-family: var(--font-family);
}

body {
    background-color: #282c34;
}

.ui.menu {
    background-color: #273f5c;

    &:first-child {
        margin: 0;
    }
}

.ui.icon.menu .item {
    color: #fff;
}

.ui.link.menu .item:hover,
.ui.menu .dropdown.item:hover,
.ui.menu .link.item:hover,
.ui.menu a.item:hover,
.ui.menu .active.item:hover,
.ui.vertical.menu .active.item:hover,
.ui.menu .active.item {
    color: #40dbf4;
    text-shadow: 0 0 10px #40dbf4;
}

.ui.icon.header {
    .header__title {
        position: relative;
        margin: 0;
        background: #282c34;
        font-size: 1em;

        .header__title-text {
            text-shadow: 0 0 10px #40dbf4;

            margin-block: 0.3rem 1.2rem;
        }

        .icon {
            width: 100%;
            text-shadow: 0 0 10px #40dbf4;
            font-size: 1.3em;

            margin-block: 1rem 0;
        }
    }
}

.application-root {
    .ui.icon.header {
        display: block;
        flex: 0;
        min-width: 10rem;
        margin: 0 auto;
        padding: 0;
        color: #40dbf4;
    }

    .ui.grid > .row {
        align-items: center;
        flex: 1;
        margin: 0;
        padding: 0;
    }

    .header {
        position: relative;
        width: 100%;
    }

    .tooltip {
        border: 1px solid #40dbf4;
        background-color: #282c34;

        .react-tooltip-arrow {
            border: 1px solid #40dbf4;
            border-width: 0 1px 1px 0;
            border-width: 0 1px 1px 0;
        }
    }
}

.portal__section {
    .ui.grid {
        flex-wrap: nowrap;
        margin: 1rem;
        box-shadow: inset 0 0 10px 1px #273f5c, 0 0 10px 10px #273f5c;

        padding-block: 1.3rem;
    }

    .ui.icon.header {
        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            visibility: visible;
            width: 1px;
            height: 100%;
            background: red;
            box-shadow: inset 0 0 10px 1px #273f5c, 0 0 10px 1px #273f5c;
        }
    }

    .header {
        max-width: 100%;
    }

    .four {
        max-width: 100%;
        margin: auto;
    }

    .grid-item__inner {
        display: flex;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        border-radius: 20%;
        background-color: #253c57;
        box-shadow: inset 0 0 20px 20px #282c34, 0 0 4px 1px #40dbf4;

        aspect-ratio: 1;

        &:hover {
            box-shadow: inset 0 0 20px 20px #282c34, 0 0 10px 4px #40dbf4;
        }
    }

    .grid-item__wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        color: #40dbf4;
    }

    .grid-item__links-section {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        overflow: hidden;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-radius: 20%;

        &:hover {
            box-shadow: 0 0 10px 4px #40dbf4;
        }
    }

    .grid-item__link {
        width: 100%;
        height: 100%;
    }

    .grid-item__portal {
        background-color: #00a5ff2e;
    }

    .grid-item__portal-admin {
        background-color: #fff4002e;
    }

    .grid-item__bio {
        text-shadow: 0 0 10px #40dbf4;
        font-size: 2rem;
        line-height: normal;
        user-select: none;
    }

    .image {
        height: 100%;
    }
}

.ui.grid > .row > .column {
    padding-inline: 3.3rem;
}

.application-root .card-gen {
    max-width: 100%;
    margin: 0 auto;

    .header .header__title {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        background-color: #40dbf4;
        box-shadow: inset 0 0 40px 14px #282c34;
        padding-block: 30px;

        .header__title-icon {
            width: auto;
            margin: 0 20px 0 0;
            color: #282c34;
            text-shadow: 0 0 10px #282c34;
            font-size: 1.3em;
            margin-block: 1rem rem 0;
        }

        .header__title-text {
            margin: 0;
            color: #282c34;
            text-shadow: 0 0 10px #282c34;
        }
    }

    .card-gen__input {
        margin-right: 20px;

        &.input input {
            color: #40dbf4;
            border: 3px solid #273f5c;
            background-color: #282c34;
            font-family: var(--font-family);

            &:focus,
            &:hover {
                border-color: #40dbf4;
            }
        }
    }

    .icon {
        color: #40dbf4;
        background-color: transparent;
    }

    .card-gen__section {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .card-gen__section--inner {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin-inline: 100px;
    }

    .card-gen__item {
        width: 100%;
        margin-bottom: 20px;
        font-size: 1.7em;
        margin-inline: 0;
    }

    .card-gen__section--result {
        align-self: normal;
        flex: 1;
        margin-right: 20px;
        padding: 20px 40px;
        color: #40dbf4;
        border: 3px solid #273f5c;
        font-size: 2.9em;
        line-height: 1em;
        text-align: center;
    }

    .card-gen__section--copy {
        font-size: 2.3em;
    }

    .button {
        color: #40dbf4 !important;
        border: 3px solid #273f5c;
        font-family: var(--font-family);
        margin-inline: 0;

        &:hover,
        &:focus {
            color: #40dbf4 !important;
            border-color: #40dbf4;
            background-color: #282c34 !important;
        }
    }
}
